<!DOCTYPE html>
<html>
<head>
  <title>ForeverKowabunga</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class= "<%=controller_name %> <%=action_name%>">

    <% unless @enter %>

<div class = "kowabunga_title_welcome"> 
    <h1>Kowabunga Forever</h1>
</div>


<div class="content_container">

    <div class="menu">
        <ul id="navigation">
            <li><a href="/welcome/index">home</a><li><li><a href="/game/index">games</a></li><li><a href="/about/index">about</a></li>
        </ul>
    </div>

</div>


<%end%>

<%= yield %>


</body>
</html>
